<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Welcome to Troll's Paradise!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Troll's Paradise</h1>
<!--
        <ol>
            <li th:each="item: ${items}">
                <a th:href="@{~/{id}(id=${item.identifier})}" th:text="${item.name}">name</a> (<span th:text="${item.type}">type</span>)
            </li>
        </ol>
-->
        <h2>Add trolololololling comment</h2>

        <form action="/" method="POST">
            <span>Name:</span>
            <input type="text" name="name"/>
            <span>Troll:</span>
            <input type="text" name="type"/>
            <input type="submit" value="Troll!"/>
        </form>
    </body>
</html>
