<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Troll's Paradise - Categories</title>
    </head>

    <body>

        <form method="post" action="">
            <pre>
        <ol style="white-space:nowrap;">
            Category/Description/Number of topics
            <pre>
            </pre>
            
            <li th:each="category : ${categories}">
                <button id="category" th:value="${category.id}" name="category" action="topic"><span th:text="${category.name}"></span>       /<span th:text="${category.description}"></span>/<span th:text="${category.topMaara}"></span></button>
                
                 
            </li>
        </ol>
            </pre>
            <button id="logout" value="logout" name="logout">Logout</button>
        </form>
    </body>
</html>