<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="mystyle.css" />
        <title>Troll's Paradise - Categories</title>
    </head>
    <body style="background-color:#005B9A"><main><div>
                <h1 class="blackborder"> Troll's Paradise </h1>
                <form method="post" action="">
                    <ol style="white-space:nowrap;">
                        <li th:each="category : ${categories}">
                            <button class="button norm" id="category" th:value="${category.id}" name="category"><span th:text="${category.name}"></span>       (<span th:text="${category.description}"></span>) | Number of topics: <span th:text="${category.topMaara}">):  </span> | Total posts: <span th:text="${category.postMaara}"></span> | Last post @ <span th:text="${category.recentPost}"></span> </button>
                        </li>
                    </ol>
                    <button class="button norm" id="logout" value="logout" name="logout">Logout</button>
                </form>
            </div>
        </main>
    </body>
</html>