<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="mystyle.css" />
        <title>Troll's Paradise - Create a new troll</title>
    </head>
    <body style="background-color:#005B9A">
        <h1>Create a new user</h1>

        <form class="form-horizontal" action='' method="POST">
            <label for="username">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" /> <br /><br />
            <label for="password">Password</label>:
            <input type="password" id="password" name="password" /> <br /><br />
            <input class="button norm" type="submit" value="Create user" />
        </form>
    </body>
</html>
