<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <style>
            .asd {
                font-family: Goudy Old Style;
                font-size: 72px;
                color: yellow;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

            }
        </style>
        <link rel="stylesheet" type="text/css" href="mystyle.css" />
        <title>Login to Troll's Paradise</title>
        <meta charset="UTF-8">
        </meta></head>
    <body style="background-color:#005B9A"><main><div>
                <h1 class="asd"> Troll's Paradise </h1>
                <h1>Login</h1>
                <form class="form-horizontal" action='' method="POST">
                    <label for="username">Username</label>:
                    <input type="text" id="username" name="username" autofocus="autofocus" /> <br /><br/>
                    <label for="password">Password</label>:
                    <input type="password" id="password" name="password" /> <br /><br/>
                    <button class="button norm" type="submit">Log in</button>
                </form></div></main>
    </body>
</html>