<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="mystyle.css" />
        <title>Welcome!</title>
    </head>
    <body style="background-color:#005B9A"><main><div>
        <h1 class="blackborder"> Troll's Paradise </h1>
               <h2>WELCOME, <span th:text="${name}">The noob</span> ,YOU NOOB</h2>
                <br />
                <form method="post" action="">
                    <button class="button norm" id="catz" value="catz" name="catz">Categories</button>
                    <button class="button norm" id="logout" value="logout" name="logout">Logout</button>
                </form>
            </div>
        </main>
    </body>
</html>