<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Troll's Paradise - Posts</title>
    </head>

    <body style="background-color:#005B9A">

        <form method="post" action="">
            <pre>
        <ol>
            <li th:each="post : ${posts}">
                <span th:text="${post.user.name}">user</span> posted @ <span th:text="${post.time}">time</span>
                <span th:text="${post.message}">message</span>
            </li>
        </ol>
<form method ="post" action="">
    <input type="text" id="posttext" name="posttext" autofocus="autofocus" /> <br /><br/>
<button id="answer" value="answer" name="answer">Answer</button>
<button id="logout" value="logout" name="logout">Logout</button>
</form>
            </pre>
        </form>
    </body>
</html>