<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Troll's Paradise - Topics</title>
    </head>

    <body>

        <form method="post" action="">
            <pre>
        <ol>
            <li th:each="topic : ${topics}">
                <button id="topic" th:value="${topic.id}" name="topic"><span th:text="${topic.subject}"></span></button>
            </li>
        </ol>
<form method ="post" action="">
    <input type="text" id="topictext" name="topictext" autofocus="autofocus" /> <br /><br/>
<button id="newtopic" value="newtopic" name="newtopic">New Topic</button>
<button id="logout" value="logout" name="logout">Logout</button>
</form>
            </pre>
        </form>
    </body>
</html>